@model WebStore.Models.Employee

<!--  BEGIN CONTENT PART  -->
<div id="content" class="main-content">
    <div class="layout-px-spacing">

        <div class="page-header">
            <div class="page-title">
                <h3>Employee</h3>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
            <form asp-controller="Home" asp-action="SaveUser" method="post" class="section general-info">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="info">
                    <h6 class="">General Information</h6>
                    <div class="row">
                        <div class="col-lg-11 mx-auto">
                            <div class="row">
                                <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                    <div class="form">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="fullName">First Name</label>
                                                    <input type="text" class="form-control mb-4" name="FirstName" id="FirstName" placeholder="First Name" value="@Model.FirstName">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="fullName">Middle Name</label>
                                                    <input type="text" class="form-control mb-4" name="MiddleName" id="MiddleName" placeholder="Middle Name" value="@Model.MiddleName">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label for="fullName">Last Name</label>
                                                    <input type="text" class="form-control mb-4" name="LastName" id="LastName" placeholder="Last Name" value="@Model.LastName">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="dob-input">Age</label>
                                                <div class="d-sm-flex d-block">
                                                    <div class="form-group mr-1">
                                                        <select class="form-control" name="Age" id="exampleFormControlSelect1">
                                                            <option>Age</option>
                                                            @for (int i = 18; i <= 100; i++)
                                                            {
                                                                @if (i == Model.Age)
                                                                {
                                                                    <option selected="">@i</option>
                                                                }
                                                                else
                                                                {
                                                                    <option>@i</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="profession">Profession</label>
                                                <input type="text" name="Job" class="form-control mb-4" id="profession" placeholder="Designer" value="@Model.Job">
                                            </div>
                                            <div class="col-sm-12">
                                                <button id="add-work-platforms" class="btn btn-primary">Сохранить</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<!--  END CONTENT PART  -->